.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  color: #57c4e2;
  margin-bottom: 20px;
}

.chat-container {
  width: 60%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}

.send-button {
  background-color: #57c4e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px; /* Ajustez la taille du padding pour modifier la longueur du bouton */
  cursor: pointer;
  margin-left: 350px; /* Ajoutez une marge à gauche pour séparer le bouton du texte */
  width: 90px;
}

.send-button:hover {
  background-color: #309cba;
}

.response-container {
  margin-top: 20px;
  padding: 10px;
  background: #e9ecef;
  border-radius: 5px;
}
.question-container {
  margin-top: 20px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 5px;
}
